//- layout.pug

mixin ie(condition)
  | <!--[!{condition}]>
  block
  | <![endif]-->

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')

    block head
      title

    // build:css ./css/vendor.css
    link(href='./bower_components/normalize-css/normalize.css', rel='stylesheet')
    // endbuild

    // build:css ./css/main.css
    link(href='./css/style.css', rel='stylesheet')
    // endbuild

    +ie('if lt IE 9')
      script(src='./bower_components/html5shiv/dist/html5shiv.min.js')
      script(src='./bower_components/respond/dest/respond.min.js')

    link(rel='shortcut icon', href='./images/favicon.png', type='image/png')

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400', rel='stylesheet', type='text/css')

  body

    include ./includes/header.pug

    block content

    include ./includes/footer.pug

    // build:js ./script/vendor.js
    script(src='./bower_components/jquery/jquery.min.js')
    script(src='./bower_components/jquery-mobile-bower/js/jquery.mobile-1.4.5.js')
    // endbuild

    // build:js ./script/main.js
    script(src='./script/script.js')
    // endbuild
