//- index.pug
extends ./_layout.pug

block head
  title Carousel Quiz
  meta(name='descriptions' content='Hotel Data Cloud is the only free worldwide hotel database that helps hoteliers and booking sites keep their property descriptions up-to-date.')

block content
  .carousel--container
    .carousel--arrow.carousel--arrow__left
      img(src="./images/arrow-left.png", alt="prev")
    .carousel--arrow.carousel--arrow__right
      img(src="./images/arrow-right.png", alt="next")
    .carousel--item
      .carousel--caption
        .carousel--caption--title Teaser title comes here
        a.carousel--caption--link(href="#") Click for more
      img(src="./images/slide-1.jpg", alt="Image description 1")
    .carousel--item
      .carousel--caption
        .carousel--caption--title Teaser title comes here 2
        a.carousel--caption--link(href="#") Click for more 2
      img(src="./images/slide-2.jpg", alt="Image description 2")
    .carousel--item
      .carousel--caption
        .carousel--caption--title Teaser title comes here 3
        a.carousel--caption--link(href="#") Click for more 3
      img(src="./images/slide-3.jpg", alt="Image description 3")
