@import "vars";

.carousel
{
  &--container {
    position: relative;
    width: 100%;
    /*overflow: hidden;*/
  }

  &--item {
    position: relative;
    margin: 0 auto;
    width: 80%;
    transition: opacity 1s;

    @media (--phone) {
      width: 100%;
    }

    img {
      width: 100%;
      display: block;
    }

    &__slide {
      position: absolute 0 *  * 10%;
      z-index: 0;
      opacity: 0;

      @media (--phone) {
        left: 0;
      }
    }

    &__active {
      z-index: 1;
      opacity: 1;
    }
  }

  &--arrow {
    position: absolute 50% * *;
    margin-top: -60px;
    cursor: pointer;

    @media (--phone) {
      display: none;
    }

    &__left {
      right: 90%;
    }

    &__right {
      left: 90%;
    }
  }

  &--caption {
    position: absolute 5% 5% *;
    background: linear-gradient(to bottom, color(#000 alpha(.6)), color(#000 alpha(.6)));
    padding: 15px * 10px;

    text-align: center;

    &--title {
      color: #fff;
      font-size: 31px 36px;
      text-decoration: none;
      padding-bottom: 20px;
    }

    &--link {
      color: $orange;

      &:hover,
      &:focus {
        color: $orange2;
      }
    }
  }
}
