@import "vars";

*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: regular;
}

.clear
{
    float: none !important;
    clear: both !important;
}

.center-container
{
    margin: * auto;
    max-width: $defaultWidth;

    @media (--tablet) {
        max-width: $tabletWidth;
    }

    @media (--phone) {
        max-width: 100%;
    }
}
