/*colors*/
$orange: #cc6121;
$orange2: color(#cc6121 whiteness(+15%));

 /*sizes*/
$defaultWidth: 1360px;
$tabletWidth: 768px;


$defaultPadding: 30px;

@custom-media --not-phone (width >= $tabletWidth);
@custom-media --not-mobile (width >= $defaultWidth);
@custom-media --mobile (width < $defaultWidth);
@custom-media --tablet (width >= $tabletWidth ) and (width < $defaultWidth);
@custom-media --phone (width < $tabletWidth);
